body { 
    padding-top: 70px; 
}


.addbutton, .addbutton-reco{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40%;
    background-color: #AA4A39;

}

.remove{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #AA4A39;
}

.remove:hover, .addbutton:hover, .addbutton-reco:hover{
    background-color: #802615;
}

#remove-text, #seen-text{
    color: white;
}

.glyphicon-remove{
    color: #550D00;
}

.glyphicon-eye-open{
    color: white;
}

#quiz-form{
    display: none;
}

.image-container, .image-container-reco{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
    position:relative;
}


#slider-limit{
    float: right;
}

.navbar{
    background-color: #191919;
}

.nav.navbar-nav.navbar-right li a{
    color: white;
}

