body { 
    padding-top: 70px; 
}


#thumbnails {
    width: 1200px;
}


.addbutton, .addbutton-reco{
    display: none;
    position: absolute;
    float: left;
    left: 0px;
    font-weight: bold;
    padding: 5px;

}

.remove{
    display: inline;
    position: absolute;
    float: left;
    left: 0px;
    font-weight: bold;
    padding: 5px;
    background-color: #FFA500;

}

#quiz-form{
    display: none;
}

.image-container, .image-container-reco{
    display: inline;
    position: relative;
}

.ms-options-wrap > .ms-options > ul label {
    width: 100%;
    background-color: #9DCEFF;
    
}
#slider {
  width: 10%;
}

.ms-options-wrap > .ms-options > ul li.selected label,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #003A75;
    color:#fff;
}

.ms-options-wrap > button:focus, .ms-options-wrap > button, .ms-options-wrap > .ms-options {
  width: 20%;
}