<!doctype html>
<html>
<head>
  <title>Movies Advisor</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <h1>Movies Advisor</h1>
  <!-- {% if 'user_id' in session %}
    <a href="/logout">Logout</a>
  {% else %}  
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  {% endif %} -->

  <hr>

  <div class="flash_message">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
  </div>


  {% block content %} put your content here {% endblock %}

<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="static/js/script.js"></script>

</body>
</html>
