<!doctype html>
<html>
<head>
  <title>Movies Advisor</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/jquery.multiselect.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  <h1>Movies Advisor</h1>
  <hr>

  <div class="flash_message">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
  </div>

  {% if 'user_id' in session %}
    <a href="/watchlist">My Watch List</a><br>
    <a href="/signout">Sign Out</a>
  {% else %} 
    <a href="" data-toggle="modal" data-target=".bs-example-modal-sm">Sign Up</a>
    <a href="" data-toggle="modal" data-target=".bs-example-modal-sm-signin">Sign In</a>     
  {% endif %}


<!-- Sign up modal window-->  
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">

        <h2>Sign Up</h2>
        <p>Sign up using email address</p>

        <form action="/signup" method="POST">
          <label>Email: </label>
            <input type="email" name="email" id="email" required><br>
          <label>Password: </label>
            <input type="password" name="password" id="password" required><br>  
          <input type="submit" value="Sign up">
        </form>

      </div>
    </div>
  </div>

<!-- Sign in modal window-->  
  <div class="modal fade bs-example-modal-sm-signin" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">

        <h2>Sign In</h2>

        <form action="/signin" method="POST">
          <label>Email: </label>
            <input type="email" name="email" id="email" required><br>
          <label>Password: </label>
            <input type="password" name="password" id="password" required><br>  
          <input type="submit" value="Sign in">
        </form>

      </div>
    </div>
  </div>

  


  {% block content %} put your content here {% endblock %}

<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="../static/jquery.multiselect.js"></script>
<script src="../static/script.js"></script>


</body>
</html>
