{% extends 'base.html' %}
{% block content %}


<h2>Genres</h2>
<form id="genre-form">
    {% for genre in genres %}
    <li><input type="checkbox" class="chk" value="{{ genre.genre }}">{{ genre.genre }}</li>
    {% endfor %}
</form>


<div id="thumbnails"></div>

<!-- Movie Details-->
<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div id="synopsis">
          <h3>Synopsis</h3>
          <p></p>
        </div>
        <div id="details">
          <h4>Details</h4>
          <ul>
            <li id="rating"></li>
            <li id="release"></li>
            <li id="runtime"></li>
            <li id="actors"></li>
            <li>Genres: <ul id="genres"></ul></li>
            <li id="sources"></li>
          </ul>
        </div>
        <div id="poster"><img src=""></div>
      </div>
    </div>
  </div>
</div>







  



{% endblock %}