{% extends 'base.html' %}
{% block content %}


<div class="container-fluid" id="browse-content">
  <div class="row">
    <div class="col-lg-2" id="filter">
      <label>Genres</label><br>
<!--       <select name="multicheckbox[]" multiple="multiple" class="4col formcls" id="check">--> 
      <select id="check" name="multicheckbox[]" multiple="multiple">
       {% for genre in genres %}
          <option class="chk" value="{{ genre.genre }}">{{ genre.genre }}</option>
        {% endfor %}
      </select><br> 

      <p><b>IMDB Rating<span id="slider-limit">0-10</span></b></p><br>
      <input type="range" min="0" max="10" value="0" step="0.1" id="slider">
      <span id="range"><b>0</b></span>
    </div>  
  <!-- Thumbnails -->
    <div class="col-lg-10" id="thumbnails"></div>
  </div>  
</div> 







  



{% endblock %}